/* Google Fonts import */
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200;300;400;500;600&display=swap');

/* Asterisk wildcard selector to override default styles added by the browser */
/* From Love Running Walkthrough Project */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: 'Raleway', sans-serif;
}

/* Header */
/* Inspired by Love Running Walkthrough Project */
header {
    background-color: #f7fff7;
    padding: 1rem 1rem;
    position: fixed;
    z-index: 99;
    /* height: 100px; */
    width: 100%;
    border-bottom: 2px solid #1a535c;
    /* display: flex; */
    /* justify-content: space-between; */
    justify-content: space-evenly;
    /* align-items: center; */
    text-align: center;
    color: #1a535c;
}    

header img {
    height: 50px;
    width: 50px;
    margin: 10px 54px;
}

h1 {
    /* text-align: center; */
    font-size: 2rem;
}

h2 {
    /* text-align: center; */
    font-size: 1rem;
    padding: 10px;
}

.score-area {
    display: inline-flex;
    border: 2px solid #4ecdc4;
    padding: 5px;
    justify-content: center;
    margin: 10px;
}

.score-area p {
    margin: 2px;
}

/* Main content */
/* Inspired by Love Running Walkthrough Project */
main {
    background-color: #4ecdc4;
    /* Make main element take up any surplus space to push footer down */
    flex: 1 0 auto;
    /* Add margin at the top prevent content from being covered by the header and footer */
    margin-top: 100px;
    /* Enable flex properties for child elements */
    display: flex;
    flex-direction: column;
 }

 main {
    /* align-items: center;
    justify-content: center; */
    text-align: center;
    color: #1a535c;
 }

 .question-area {
    /* Code from Love Maths Walkthrough Project to make responsive */
    width: 85%;
    height: 55vh;
    max-height: 500px;
    max-width: 830px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 5px;
    background-color: #cdf3eb;
}

#question-text {
    padding-top: 40vh;
    font-size: 120%;
}

.answer-area {
    width: 85%;
    height: 20vh;
    max-height: 200px;
    max-width: 830px;
    margin-left: auto;
    margin-right: auto;
    /* padding: 1%; */
    background-color: #cdf3eb;
    /* padding: 10px; */
    /* display: flex; */
    /* justify-content: space-evenly; */
}

button {
    border: solid 2px #4ecdc4;
    padding: 5px;
    margin: 15px;
    width: 70px;
    font-family: 'Raleway', sans-serif;
    font-size: 100%;
    color: #1a535c;
    background-color: #f7fff7;
}

#next-question {
    width: 150px
}

.hide {
    display: none;
}

/* Media query: tablets and larger (768px and up) */
@media screen and (min-width:768px) {
    /* Header */
    /* Inspired by Love Running Walkthrough Project */
    header {
        display: flex;
        align-items: center;
    }    

    .question {
        padding-top: 30vh;
    }

    button:hover {
        border: solid 2px #1a535c;
    }
}